{% comment %} this is the base html layout which is in every page so it makes sense to make it constant and only change the content in the midddle rather than putting header and footer from stratch {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Articles</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles.css'%}">
    </head>
    <body>
      <header class="wrapper"> 
        <h1><a href="{% url 'articles:list'%}"><img src="{%static 'logo.png'%}"/></a></h1> 
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <form class ="logout-link" action="{%url 'accounts:logout'%}" method="post">
                        {%csrf_token%}
                        <button type ="submit">Logout</button>
                    </form>
                </li>
                <li>
                    <a href="{%url 'articles:create' %}" class ="highlight">New Article
                    </a>
                </li>
                {%else%}
                <li>
                    <a href="{%url 'accounts:login' %}">Login
                    </a>
                </li>
                <li>
                    <a href="{%url 'accounts:signup' %}">Signup
                    </a>
                </li>
                {% endif%}
            </ul>
    </header>
        {%block content%}
        {% endblock%}
    </body>
</html>
